body {
background-attachment: fixed;
margin-left: auto;
background-color: aqua;
margin:0%
}


h1 {

   text-align: center;
   text-emphasis-color: black;
   background-color: aqua;

}

.playlistDiv{
    text-align: center;
    
    
}

